*.tar.gz
!resilient-circuits/tests/ext_tests/mock_data/built_distributions/**
__pycache__
.pytest_cache
.python-version
.DS_Store
.settings
.idea
.cache
.coverage*
cov*.xml
.tox
.swp
.eggs
.vscode
.env
.scannerwork
resilient_circuits_lockfile
*.iml
*.pem
*.pyc
*.log
*.log*
*.config
*~
*.egg-info
build
_build
*.bak
!/resilient-sdk/tests/shared_mock_data/mock_package_files/mock_integrations/fn_main_mock_integration/fn_main_mock_integration/**/*.bak
!/resilient-sdk/tests/shared_mock_data/*.log
dist
.sdk_settings.json