*.tar.gz
!resilient-circuits/tests/ext_tests/mock_data/built_distributions/**
__pycache__
.pytest_cache
.python-version
.DS_Store
.settings
.idea
.cache
.coverage
.tox
.swp
.eggs
resilient_circuits_lockfile
*.iml
*.pem
*.pyc
*.log
*.log*
*.config
*~
*.egg-info
build
_build
resilient-sdk/sdk_coverage_report
*.bak
.vscode
