include resilient_circuits/LICENSE
include resilient_circuits/data/*
include resilient_circuits/data/template_package/*
include resilient_circuits/data/template_package/package/*
include resilient_circuits/data/template_package/package/components/*
include resilient_circuits/data/template_package/package/util/*
include resilient_circuits/data/template_package/tests/*
include ./CHANGES