# -*- coding: utf-8 -*-
{% if copyright %}
# {{ copyright }}
{% endif %}
# Generated with resilient-sdk v{{ sdk_version }}

"""Generate a default configuration-file section for {{package_name}}"""


def config_section_data():
    """
    Produce add the default configuration section to app.config,
    for {{package_name}} when called by `resilient-circuits config [-c|-u]`
    """
    config_data = None

#     config_data = u"""[{{package_name}}]
     {% if poller_flag %}
# api_key=xxx
# api_secret=xxx
# endpoint_url=https://xxx/
# # Number of seconds between poller cycles. A value of 0 disables the poller
# polling_interval=60
# # Number of minutes to lookback for queries the first time the poller runs.
# polling_lookback=120
     {% endif %}
#
# setting=xxx
# 
# # Specify paths to files if client certs are needed to authenticate
# client_auth_cert = <path_to_cert.pem>
# client_auth_key = <path_to_cert_private_key.pem>
# """
    return config_data
