# -*- coding: utf-8 -*-

"""Generate a default configuration-file section for {{package_name}}"""


def config_section_data():
    """
    Produce add the default configuration section to app.config,
    for {{package_name}} when called by `resilient-circuits config [-c|-u]`
    """
    config_data = None

#    config_data = u"""[{{package_name}}]
     {% if poller_flag %}
api_key=xxx
api_secret=xxx
endpoint_url=https://xxx/
# Number of seconds between poller cycles. A value of 0 disables the poller
polling_interval=60
# Number of minutes to lookback for queries the first time the poller runs.
polling_lookback=120
cafile=/path/to/cafile.crt or false
     {% endif %}
#
#setting=xxx
#"""
    return config_data
