{
  "restUrl": "https://SERVER",
  "user": "CO3 USER'S EMAIL ADDRESS",
  "password": "CO3 USER'S PASSWORD",
  "orgName": "CO3 ORGANIZATION NAME",
  "trustStore": "${user.home}/co3/truststore",
  "trustStorePassword": "co3defaultpassword",
  "jmsUrl": "ssl://SERVER:65000",
  "queueName": "test"
}
